.card {
    cursor: pointer;
    width: 160px;
    margin: auto;
}

.card > img {
    width: 100%;
}

.card > img:hover {
    opacity: 0.8;
}

.hand {
    border: 1px solid rgb(160, 160, 160); 
}

.hand > .header {
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    background-color: grey;
    padding: 5px 10px;
}

.hand > .body {
    display:flex;
    min-height: 200px;
}