.discard-pile {
    border: 1px solid rgb(160, 160, 160); 
}

.discard-pile > .header {
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    background-color: grey;
    padding: 5px 10px;
}